.menu-item-icon {
  path {
    fill: #272f5a;
  }
}

.active-submenu-item-nav-link {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 15px 0 38px;
  color: #189ee9 !important;
  border-left: 3px solid #189ee9 !important;

  &:hover {
    transition: 0.2s;
    path {
      fill: #189ee9 !important;
    }
  }

  .menu-item-icon {
    path {
      fill: #189ee9 !important;
    }
  }
}

.submenu-item-nav-link {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 15px 0 38px;
  color: #272f5a;
  border-left: 3px solid #00000000;

  &:hover {
    transition: 0.2s;
    path {
      fill: #189ee9 !important;
    }
  }
}
