$height: 32px;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.ant-input {
    height: $height;
    background-color: #ffffff;
}

.ant-tabsComponent-nav {
    margin-bottom: 24px
}

.form {
    display: flex;
    align-items: center;
}

.form:focus {
    border: 2px solid black;
}

.input {
    height: $height;
}

.input__form {
    border: 1px solid #DCDEE4;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.input__form:focus {
    border: 2px solid #DCDEE4;
}

.input__form:hover {
    cursor: pointer;
}

.btn {
    width: 180px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    margin-left: 20px;

    border: 1px solid #dcdee4;
    background-color: #189EE9;
    transition: background-color 150ms linear 0s, transform 150ms linear 0s, border-color 150ms linear 0s;
}

.btn:hover {
    cursor: pointer;
}