.ant-form-item {
  display: flex !important;
  flex-direction: column !important;
  align-items: baseline !important;
  margin-bottom: 12px !important;

  .ant-form-item-control {
    width: 100%;
  }

  .ant-form-item-label {
    label {
      color: rgba(39, 47, 90, 0.7) !important;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;

      label {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF !important;
      }
    }
  }

}

.ant-input-number-handler-wrap {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form {
  .ant-picker {
    padding: 8px 24px;

    input {
      font-size: 16px;
      line-height: 32px;
    }
  }
  .ant-select-auto-complete {
    .ant-select-selector {
      padding: 8px 24px !important;
      height: auto !important;
      span {
        padding: 8px 12px;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}



