.registration {
    height: 100vh;
    background: #12193d;
    color: #ffffff;
    display: flex;
}

.registration__left {
    width: 50%;
    color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    padding-right: 200px;
}
