.registration {
  height: 100vh;
  background: #12193D;
  color: #FFFFFF;
  display: flex;
}

.registration__left {
  width: 50%;
  color: #FFFFFF;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  padding-right: 200px
}

.hidden {
  position: absolute;
  display: flex;
  right: 0;
  height: 48px;
  padding: 16px 24px;
  background: #FFFFFF;
  z-index: 3;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}


.close {
  margin-left: 8px;
  color:rgba(39, 47, 90, 0.9);
  text-decoration: none;
}
