.access-denied {
    min-height: 100vh;
    background: #12193d;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}
.access-denied__title {
}

.access-denied__subtitle {
    padding-top: 16px;
    max-width: 691px;
    text-align: center;
    z-index: 2;
}

.access-denied__link {
    color: #189ee9;
}

.access-denied__link:hover {
    text-decoration: underline !important;
}

.access-denied__button {
    margin-top: 24px;
}

.access-denied__image {
    margin-top: -100px;
    z-index: 1;
}
