.tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.justify_center {
    margin: 0 auto;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.device__title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 2;
    color: #272f5A;
}

.subdevice__title {
    margin-left: 23px;
}

.device {
    margin-bottom: 30px;
}

.device__link {

}

.deviceId {
    margin-left: 6px;
    font-weight: normal;
    color: rgba(39, 47, 90, 0.6);
}



.device__wrapper {
    display: grid;
    grid-template-columns: 4.5fr 3fr 1.5fr 2fr 1fr;
    margin-bottom: 24px;
    align-items: center;
    justify-content: center;
}

.icon {
    margin-right: 8px;
}

.pages {
    margin: 20px 0;
    position: relative;
    bottom: 0;
}

.page, .currentPage {
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
}

.currentPage {
    border: 2px solid gray;
    font-weight: 700;
}