.tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}
.devices {
    /*height: 80%;*/
}

.device__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 2;
    color: #272f5A;
}



.device {
    margin-bottom: 30px;
}

.subDevices {
    margin-left: 44px;
}

.icon {
    margin-right: 8px;
}

.form {
    width: 30%;
    border: 1px solid #DCDEE4;
    box-sizing: border-box;
    border-radius: 4px;

    margin-bottom: 20px;
}

.pages {
    margin: 20px 0;
    position: relative;
    bottom: 0;
}

.page, .currentPage {
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
}

.currentPage {
    border: 2px solid gray;
    font-weight: 700;
}