.tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}
.devices {
    /*height: 80%;*/
}

.device__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 2;
    color: #272f5A;
}

.device {
    margin-bottom: 30px;
}

.device__link {

}

.deviceId {
    font-weight: normal;
    color: rgba(39, 47, 90, 0.6);
}

.subDevices {
    margin-left: 44px;
}

.device__sub, .device__main_wrapper {
    margin-bottom: 24px;
}

.icon {
    margin-right: 8px;
}

.form {
    display: flex;
    align-items: center;
}

.form:focus {
    border: 2px solid black;
}

.input__form {
    border: 1px solid #DCDEE4;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.input__form:focus {
    border: 2px solid #DCDEE4;
}

.input__form:hover {
    cursor: pointer;
}

.btn {
    width: 180px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    margin-left: 20px;

    border: 1px solid #dcdee4;
    background-color: #189EE9;
    transition: background-color 150ms linear 0s, transform 150ms linear 0s, border-color 150ms linear 0s;
}

.btn:hover {
    cursor: pointer;
}


.pages {
    margin: 20px 0;
    position: relative;
    bottom: 0;
}

.page, .currentPage {
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
}

.currentPage {
    border: 2px solid gray;
    font-weight: 700;
}