.owner-information .ant-typography {
    font-size: 14px;
    line-height: 16px;
    color: rgba(39, 47, 90, 0.6);
    width: 210px;
    display: inline-flex;
}

.owner-information .ant-btn {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.owner-information__wrap {
    display: flex;
    align-items: baseline;
}

.owner-information__wrap h2{
    padding-left: 8px;
}