.react-tagsinput-tag {
  background: #272f5a;
  border-radius: 2px;
  border: none;
  /* border: 1px solid #a5d24a; */
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 4px 8px;
  transition: all 0.3s;
}

.react-tagsinput-tag:hover {
  transition: all 0.3s;
  background: #189ee9;
}

.react-tagsinput-remove {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  width: 16px;
  height: 16px;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.react-tagsinput-remove:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  width: 16px;
  height: 16px;
}
