.name {
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
}

.cellphone {
    font-size: 14px;
    line-height: 16px;
}


.status {
    font-size: 14px;
    line-height: 16px;
}


.cellphone {
    font-size: 14px;
    line-height: 16px;
}

.phoneNumber {
    font-size: 14px;
    line-height: 16px;
}

.staff {
    display: grid;
    grid-template-columns: 4fr 4fr 2fr 2fr;
    align-items: center;
    padding: 8px;
    margin-bottom: 8px;
}

.button {
    margin-left: auto;
}
