.name {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.cellphone {
  font-size: 14px;
  line-height: 16px;
}

.status {
  font-size: 14px;
  line-height: 16px;
}

.cellphone {
  font-size: 14px;
  line-height: 16px;
}

.phoneNumber {
  font-size: 14px;
  line-height: 16px;
}

.staff {
  display: grid;
  max-width: 1300px;
  grid-template-columns: 2fr 2fr 2fr 0fr;
  align-items: center;
  padding: 8px 0 8px 8px;
  margin-bottom: 8px;
}

.button {
  margin-left: auto;
}
