.input__wrap {
    width: 160px;
    border: 1px solid #DCDEE4;
    box-sizing: border-box;
    border-radius: 4px;
    display: grid;
    padding: 0 8px;

}
.row {
    padding: 8px;
    display: grid;
    grid-template-columns: 6fr 6fr;
    border-bottom: 1px solid #DCDEE4;
}

.row:last-of-type {
    border-bottom: none;
}

.plan {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: rgba(39, 47, 90, 0.6);
}

.input {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: rgba(39, 47, 90, 0.32);
}