.title-24 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
}

.title-32 {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
}
