.modal__top {
  padding: 16px 32px;

  .period_and_type {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
  }

  .type {
    width: auto;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
  }
}
